/* ----- NAVIGATIE ----- */
.jumbotron{
    background-image: url("../images/jumbocat.jpg");
}
.subnav ul li{
    width: 26.666%;
    background-color: white;
}
.subnav ul li img{
    margin-top: 15px;
}
.subnav ul li:first-of-type{
    width: 20%;
}
.subnav ul{
    margin: 0;
    padding: 0;
}

/* ----- TEKST -----*/
p{
    padding: 0 5% 0 5%;
}
.cover{
    position: absolute;
    margin-left: -75%;
    display: none;
    border: 5px solid #a3cf3d;
}
tr:hover .cover{
    display: block;
}