/* ----- NAVIGATIE ----- */
.jumbotron{
    background-image: url("../images/jumbocat.jpg");
}
.subnav ul li{
    width: 26.666%;
    background-color: white;
}
.subnav ul li img{
    margin-top: 15px;
}
.subnav ul li:first-of-type{
    width: 20%;
}
.subnav ul {
    margin: 0;
    padding: 0;
}
.cover{
    position: absolute;
    margin-left: -81%;
    display: none;
    border: 5px solid #a3cf3d;
}
tr:hover .cover{
    display: block;
}
aside{
    float: right;
    width: 60%;
    margin: 5%;
    text-align: center;
}
form{
    width: 80%;
    display: block;
}
@media screen and (max-width: 885px) {
    form{
        width: 100%;
    }
    aside{
        width: 100%;
        float: none;
    }
}