/* ----- NAVIGATIE ----- */
.jumbotron{
    background-image: url("../images/jumbocat.jpg");
}
.subnav ul li{
    width: 30%;
    float: left;
    background-color: white;
}
.subnav ul li img{
    margin-top: 15px;
}
.subnav ul li:first-of-type{
    width: 10%;
    float: left;
}
.subnav ul{
    margin: 0;
    padding: 0;
}

/* ----- TEKST -----*/
p{
    padding: 0 5% 0 5%;
}

.cover{
    position: absolute;
    margin-left: -70%;
    border: none;
    display: none;

}
tr:hover .cover{
    display: block;
}