header:not(#mainheader){
    margin: 0 auto;
    padding: 10px;
    border: solid black;
    border-width: 0 0 2px 0;
    width: 90%;
}
header:first-of-type{
    padding: 0;
    border: none;
    width: 100%;
}
article{
    width: 64%;
    margin: 2%;
}
.nieuws{
    width: 90%;
    margin: 5%;
}
.col-md-6{
    width: 45.5%;
    display: inline-table;
}

/* ----- AANRADERS -----*/

#aanraders{
    background-color: rgb(163,207,61);
    width: 100%;
    margin: 0;
}
#aanraders section{
    max-width: 15.5%;
    margin: 2%;
    display: inline-block;
    text-align: center;
    background-color: rgb(163,207,61);
}

/* ----- ASIDE ------ */

aside{
    width: 30%;
    margin: 2%;
    float: right;
}
tr td:first-of-type{
    font-weight: bold;
    border: none;
}
tr td:last-of-type{
    min-width: 150px;
    padding: 5px;
    border: none;
}
@media screen and (max-width: 885px) {
    article, .col-md-6{
        width: 100%;
        margin: 0 auto;
    }
    section{
        width: 100%;
    }
    header{
        width: 100%;
    }
    aside, aside section {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    #aanraders{
        display: none;
    }
}
@media screen and (max-width: 1524px) and (min-width: 885px) {
    article{
        width: 54%;
    }
    aside{
        width: 40%;
    }
    .container{
        margin: 5%;
    }
}