.jumbotron{
    background-image: url("../images/jumbonew.jpg");
}
article{
    width: 44%;
    margin: 2.5%;
    display: inline-table;
}
.titel{
    width: 100%;
    background-color: rgb(163,207,61);
    color: white;
}
.cover{
    width: inherit;
    float: left;
    margin: 20px;
}
@media all and (max-width: 890px) {
    article{
        width: 90%;
        margin: 2%;
    }
    section{
        display: block;
    }
}